html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*-------------------------------------------------*/
body {
    background-color: #00264d;
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}
.wrapper {
    width: 100%;
}
.header {
  width: 100%;
  padding: 40px 0;
}
.logo {
  width: 470px;
  font-size: 48px;
  margin-left: auto;
  margin-right: auto;
}
.logo img {
  float: left;
  clear: both;
}
span {
  color: #ff4d4d;
}
.nav {
  width: 100%;
  padding: 10px 0;
  background-color:#c34f4f;
  text-align: center;
  border-top: 1px solid #751b1b;
  border-bottom: 1px solid #751b1b;
  height: 40px;
}
.content {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
	padding-top: 15px;
}
.socials {
  width: 100%;
  background-color: #000033;
  text-align: center;
}
.socials-divs {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.fb {
	float:left;
	width: 250px;
	height: 155px;
}
.fb:hover{
  background-color: #4668b3;
}
.yt {
	float: left;
	width: 250px;
	height: 155px;
}
.yt:hover {
	background-color: #d94348;
}
.tw {
	float: left;
	width: 250px;
	height: 155px;
}
.tw:hover {
	background-color: #3095d3;
}
.gp {
	width: 250px;
	float: left;
	height: 155px;
}
.gp:hover {
	background-color: #d95333;
}
.footer {
	background-color: black;
	padding: 20px;
	padding-left: 120px;
}
.sticky {
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
}
