
.icon-twitter:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-gplus-1:before { content: '\f30f'; } /* '' */